body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(142, 197, 252);
  background: radial-gradient(
    circle,
    rgba(142, 197, 252, 1) 0%,
    rgba(224, 195, 252, 1) 100%
  );
}

#box {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  cursor: pointer;
  position: relative;
  /* border: 1em solid white; */
  filter: drop-shadow(0 0 0.75rem black);
}

.tile {
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: 0.3em solid white;
}

.bottom-border {
  border-bottom: 0.3em solid white;
}

.wincombo {
  position: absolute;
  background-color: black;
}

.wincombo-row-1 {
  width: 100%;
  height: 5px;
  top: 13%;
}
.wincombo-row-2 {
  width: 100%;
  height: 5px;
  top: 46%;
}
.wincombo-row-3 {
  width: 100%;
  height: 5px;
  top: 83%;
}
.wincombo-column-1 {
  height: 100%;
  width: 5px;
  left: 15%;
}
.wincombo-column-2 {
  height: 100%;
  width: 5px;
  left: 50%;
}
.wincombo-column-3 {
  height: 100%;
  width: 5px;
  left: 83%;
}
.wincombo-diagonal-1 {
  width: 90%;
  height: 5px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
}
.wincombo-diagonal-2 {
  width: 90%;
  height: 5px;
  top: 45%;
  left: 5%;
  transform: skewY(-45deg);
}

h1 {
  color: white;
  font-size: 50px;
  filter: drop-shadow(0 0 0.75rem black);
}

#game-over-area {
  text-align: center;
  padding: 50px;
  width: 50%;
  margin-top: 15px;
  background-color: transparent;
}

h2 {
  color: white;
  font-size: 3em;
  margin-top: 1px;
  filter: drop-shadow(0 0 0.75rem black);
}

button {
  background-color: white;
  color: black;
  border: white 1px solid;
  padding: 20px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.75rem black);
  transform: translateY(10px);
}

button:hover {
  border: none;
  background-color: lightblue;
  color: white;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.75rem blue);
}

.hidden {
  display: none;
  background-color: transparent;
}

.visible {
  display: block;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.6;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.6;
}

.scores {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 45px;
  position: absolute;
  left: 70rem;
  top: 8rem;
}

.score {
  position: relative;
  left: 3rem;
  top: -140px;
}

#scoreboard {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  font-size: 25px;
  color: white;
  filter: drop-shadow(0 0 0.5rem black);
  font-weight: bolder;
}
